<div *ngIf="loading" class="alert alert-info text-center" role="alert">
    <h4 class="alert-heading">
      Cargando...
    </h4>
  <p>
    <i class="fas fa-stroopwafel fa-spin fa-2x"></i>
  </p>
  <p class="mb-0"></p>
</div>

<div *ngIf="error" class="alert alert-danger text-center" role="alert">
  <h4 class="alert-heading">
    Error: {{error.message}}
  </h4>
  <p>
    <i class="fas fa-times fa-2x"></i>
  </p>
  <p class="mb-0"></p>
</div>


<div class="card-columns" *ngIf="!loading">
  <app-usuario-item
    *ngFor="let usuario of usuarios"
    [usuario]="usuario"
  >
  </app-usuario-item>
</div>
